<h3><%= "#{@pet.user.profile.name}" %>"さんへのメッセージ</h3>
<div class="form-signup rounded mt-5">
  <!--PET情報-->



  <!--  メッセージ送付フォーム-->
  <%= form_with model: @message, url: pet_messages_path(@pet), data: { turbo_method: :post }, local: true do |f| %>
    <div class="form-label">
      <%= f.text_area :body, placeholder: 'メッセージを入力', class: 'form-control' %>
    </div>
    <div class="actions text-center">
      <%= f.submit '送信', class: 'btn btn-lg msg-send-btn btn-block' %>
    </div>
  <% end %>



</div>

<div class="form-signup rounded mt-5">
  <!--メッセージのやりとり履歴-->

</div>


<!--ページネーション-->