<div class="container">
  <h4 class="text-center">ご登録いただきありがとうございます。</h4>

  <div class="text-center">
    <p>ご登録者様のメールアドレス宛に「登録確認メール」をお送りさせていただきました。</p>
    <p>しばらく待っても届かない場合はお手数ですがこちらよりお問い合わせください。</p>
  </div>
  <div class="text-center">
    <%= link_to 'トップに戻る', root_path, class: 'btn btn-lg return-root-btn btn-block ' %>
  </div>
</div>
