
  <!-- Sidebar -->
  <div class="col-3 sidebar-area border border-secondary">
    <ul class="navbar-nav ">
      <hr class="sidebar-divider">
      <li class="nav-item sidebar-title ">
        ダッシュボード
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <%= link_to 'プロフィール', edit_user_path(current_user), class: "nav-link" %>
      </li>

      <hr class="sidebar-divider">
      <li class="nav-item">
        <%= link_to 'メッセージ', '#', class: "nav-link" %>
      </li>
      <hr class="sidebar-divider">

      <li class="nav-item">
        <%= link_to '里親募集', new_pet_path, class: "nav-link" %>
      </li>
      <hr class="sidebar-divider">
    </ul>
  </div>
  <!-- Sidebar end -->
