<div class="container-fluid mx-auto">
  <div class="row col-11 mx-auto">

    <!-- 標準カラーのサイドバー -->
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary col-md-3 bg-gray-50">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <%= link_to 'ユーザー', admin_users_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to '里親募集', '#', class: "nav-link" %>
        </li>
      </ul>
    </div>
    <!-- /標準カラーのサイドバー -->

    <!-- 管理者画面 main -->
    <div class="col-md-8">
      <div class="row mx-auto">
        <div  class="col-md-4">
          <div class="card bg-primary text-white shadow p-2">
            <p class="text-white-70">ユーザー登録数</p>
            <p class="text-white-70"><%= "#{@user_registration_count}" %>件</p>
          </div>
        </div>
        <div  class="col-md-4">
          <div class="card bg-primary text-white shadow p-2">
            <p class="text-white-70">里親募集数</p>
            <p class="text-white-70"><%= "#{@total_pets_for_adoption}" %>件</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /管理者画面 main -->
  </div>
</div>