.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0.5rem;
    height: 50px;
    background-color: #FFFBEE;
    border-bottom: #000000;
}
.nab-color {
    margin: 0px;
}

a {
    color: #000000;
    text-decoration: none;
    margin: 10px;
}


.navbar-nav {
    .nav-item  {
        font-size: 20px;
    }
}


//ダッシュボードのLink
.sidebar-area {
  background: #FFFFFF;
  border: black;
}
.sidebar-title {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
