.header-container {
  margin: 0;
  background-color:  #FFFBEE;
}


.header-content {
  max-width: 950px;
  margin: 0 auto; /* 中央配置 */
  padding: 0 15px; /* 必要に応じて左右の内側の余白を追加 */
}

.nav-divider {
  margin: bottom 0; /* 必要に応じて余白を削除 */
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0.5rem;
    height: 50px;
    background-color: #FFFBEE;
    border-bottom: #000000;
}
.nab-color {
    margin: 0px;
}

a {
    color: #000000;
    text-decoration: none;
    margin: 10px;
}

.navbar-nav .nav-link,
.navbar-nav .nav-item {
  font-size: 1rem;
}



//ダッシュボードのLink
.sidebar-area {
  background: #FFFFFF;
  border: black;
}
.sidebar-title {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-avatar-img {
  width: 50px;        /* 画像の幅を80pxに設定 */
  height: 50px;       /* 画像の高さを80pxに設定 */
  border-radius: 50%; /* 画像を円形にする */
  object-fit: cover;  /* 画像が枠内に収まるようにする */
}