body {
  background-color: #FFFBEE;
  padding-top: 50px;
}

// サインアップtitle
.form-signup-title {
  width: 100%;
  max-width: 800px;
  margin: auto;
}


// サインアップ全体
.form-signup {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  background-color: white;
}

// 内容確認
.signup-confirm {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  background-color: white;

  input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
  }
}


// 新規登録ご挨拶と会員に関する注意書き
.info-label {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  background-color: white;
}

// 登録確認ボタン
.comfirm-btn {
  margin-top: 10px;
  color: #fff;
  background-color: #F2BA29;
  border-color: #FFFBEE;
  width: 100%;
}

.comfirm-back-btn {
  margin-top: 5px;
  color: #fff;
  background-color: #cfcdc8;
  border-color: #FFFBEE;
  width: 100%;
}

.mright-20 {
  float: left;
}

// トップに戻るボタン
.return-root-btn {
  padding: 6px 50px;
  margin-top: 10px;
  color: #fff;
  background-color: #F2BA29;
  border-color: #FFFBEE;
  width: auto;
}

//アカウント情報更新　コメント
.change-pw-info {
  font-size: small;
  color: darkred;
}

.left-column {
  float: left;
  width: 30%; /* 要素の幅を50%に定義 */
}

.right-column {
  float: right;
  width: 70%; /* 要素の幅を50%に定義 */
}

.return-pet-edit-btn {
  padding: 6px 50px;
  margin-top: 10px;
  color: #fff;
  background-color: #5A8C53;
  border-color: #FFFBEE;
  width: auto;
}


//ペット詳細テーブル


//ペット詳細画像
.pet-img-small {
  width: 200px;
  height: auto;
}

//pet画像投稿ボタン
.image_input_btn {
  display: block;
  background-color: #F2BA29;
  width: 180px;
  height: 50px;
  margin:  auto;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height:50px;
}

.image_form {
  display: none;
}

//favoriteボタン
.favorite-btn-on {
  background-color: #FFFFFF;
  text-align: center;
  border-color: #dee2e6;
  border-width: 1px;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
  .favorite-text {
    color: #999999;
  };
  .star {
    color: #F2BA29;
  }
}
.favorite-btn-off {
  background-color: #F2BA29;
  text-align: center;
  border-color: #dee2e6;
  border-width: 1px;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
  .favorite-text {
    color: #FFFFFF;
  };
  .star-non {
    color: #FFFFFF;
  }
}

.favorite-btn {
  background-color: #F2BA29;
  text-align: center;
  border-color: #dee2e6;
  border-width: 1px;
}
.button_to {
  text-align: center;
}

//ページネーション
.pagination {
  justify-content: center;
}

//Pet#show to_owner_send_mail
.to_owner_send_mail {
  background-color: #F2BA29;
  text-align: center;
  border-color: #dee2e6;
  border-width: 1px;
  color: #FFFFFF;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
}

.send-mail-info-text {
  color: #999999;
}

// メッセージ送信ボタン
.msg-send-btn {
  margin-top: 10px;
  color: #fff;
  background-color: #F2BA29;
  border-color: #FFFBEE;
  width: auto;
  padding: 6px 50px;
}


.dm-body {
  list-style: none;
  margin: 0;
}

//メッセージ
//表示幅を設定

    .message-card {
      width: 80%;
      margin: auto;
    }

    .img-thumbnail {
      max-height: 150px;
    }

    .petname {
      font-size: 18px;
      font-weight: bold;
    }




.message-form {
  width: 80%;
  max-width: 1000px;
  padding: 15px;
  margin: auto;
  background-color: white;
}