<div class="container">
  <div class="row">
    <%= render partial: 'layouts/shared/sidebar_html' %>
    <!-- 投稿pet一覧 -->
    <div class="col-9">
      <!-- メッセージ着信を表示する -->
      <% if @has_unread_messages %>
        <div class="alert alert-light">
          <%= link_to '新着メッセージがあります', rooms_path, class: "text-red" %>
        </div>
      <% else %>
        <div class="alert alert-light">
          <p> お知らせはありません。</p>
        </div>
      <% end %>
      <!-- ここまで -->

      <div>
        <h2>掲載中の里親募集</h2>
        <div class="row">
          <% @user_pets.each do |pet| %>
            <%= render 'pets/pet_card', pet: pet %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- 投稿pet一覧 　end-->
  </div>
</div>
