<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-3">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <li class="nav-item">
          ダッシュボード
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
          <%= link_to 'プロフィール', edit_user_path(current_user), class: "nav-link" %>
        </li>

        <hr class="sidebar-divider">
        <li class="nav-item">
          <%= link_to 'メッセージ', '#', class: "nav-link" %>
        </li>
      </ul>
    </div>
    <!-- Sidebar end -->
    <div class="col-9">
      メイン表示
    </div>
  </div>

</div>
