<div class="container">
  <div class="form-signup-title rounded mt-5">
    <h2>マイページ</h2>
    <div class="signup-confirm rounded mt-5">
      <div class="form-label">
        <%= label :name, 'お名前' %>
        <%= @user.email %>
      </div>

      </div>
    </div>
  </div>
</div>
