<!-- admin Sidebar -->
<div class="">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to 'ユーザー', '#', class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to '里親募集', '#', class: "nav-link" %>
    </li>
  </ul>
</div>
<!-- Sidebar end -->
